<div class="cocktail-crud">
  <form (submit)="saveCocktail()">
    <input type="text" [(ngModel)]="editCocktail.name" name="cocktailName" placeholder="Nom du Cocktail" required>
    <input type="text" [(ngModel)]="editCocktail.img" name="cocktailImg" placeholder="URL de l'image">
    <textarea [(ngModel)]="editCocktail.description" name="cocktailDescription" placeholder="Description"></textarea>
    <input type="text" [(ngModel)]="editCocktail.state" name="cocktailState" placeholder="État" required>
    <button type="submit">Enregistrer Cocktail</button>
  </form>
<div>
  <ul>
    <li *ngFor="let cocktail of cocktails">
      Cocktail : {{ cocktail.name }}
      <button (click)="startEdit(cocktail)">Modifier</button>
      <button (click)="deleteCocktail(cocktail.id)">Supprimer</button>
    </li>
  </ul>
</div>

</div>
