<div class="cocktail-crud">
  <form (submit)="saveCocktail()">
    <input type="text" [(ngModel)]="editCocktail.name" name="cocktailName" placeholder="Nom du Cocktail" required>
    <input type="text" [(ngModel)]="editCocktail.img" name="cocktailImg" placeholder="URL de l'image">
    <textarea [(ngModel)]="editCocktail.description" name="cocktailDescription" placeholder="Description"></textarea>
    <select [(ngModel)]="editCocktail.state" name="cocktailState">
      <option *ngFor="let state of (states$ | async)" [value]="state">{{ state }}</option>
    </select>
    <button type="submit">Enregistrer Cocktail</button>
  </form>
</div>
