<div class="kanban-board">
  <div class="kanban-column" *ngFor="let state of (states$ | async)">
<!--    <div *ngIf="editingState === state; else viewState" class="d-flex gap-flex flex-justify-content-between p-10">
      <input class="inputForm" type="text" [(ngModel)]="editedStateValue">
      <button class="btn" (click)="applyEditState(state)">Save</button>
      <button class="btn" (click)="cancelEditState()">Cancel</button>
    </div>
    <ng-template #viewState>
      <div class="d-flex flex-justify-content-between m-10">
        <h3 class="showCursorCouldModify" (click)="startEditState(state)">{{ state }}</h3>
        <button class= "btn" (click)="deleteState(state)">Delete State</button>
      </div>
    </ng-template>-->
    <h3 (click)="editState(state)">{{ state }}</h3>
    <app-state-crud *ngIf="editingState === state"></app-state-crud>
    <div class="cocktails">
      <div class="cocktail-card" *ngFor="let cocktail of (cocktails$ | async) ?? [] | filterByState:state " (click)="selectCocktail(cocktail)">
        <img [src]="cocktail.img" alt="{{ cocktail.name }}">
        <h4>{{ cocktail.name }}</h4>
        <p>{{ cocktail.description }}</p>

        <select (change)="changeCocktailState(cocktail, $event.target)">
          <option *ngFor="let state of (states$ | async)" [value]="state" [selected]="state === cocktail.state">{{ state }}</option>
        </select>

        <button (click)="deleteCocktail(cocktail.id)">Supprimer</button>
      </div>
    </div>
  </div>
</div>
